@model EmployeeManagementPortal.MVC.ViewModels.EmployeeTasksViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>Employee Tasks</h4>
<hr />
<form asp-action="Create">
    <div class="row">
        <br />
        <div class="col-md-6"></div>
        <div class="col-md-6 footer-buttons">
            <a asp-action="Index" class="btn btn-outline-primary float-right">Back to List</a>
            <span>&nbsp; &nbsp;</span>
            <input type="submit" value="Create" style="margin-right: 5px;" class="btn btn-primary float-right" />
        </div>
    </div>
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6">
            <div class="form-group">
                @*<label name "FullName" class="col-sm-2 col-form-label"></label>*@
                <label name="FullName"></label>
                <div class="col-sm-10">
                    <select asp-for="EmployeeId" asp-items="@(new SelectList(Model.EmployeeList,"EmployeeId", "FirstName"))" class="custom-select mr-sm-2">
                        <option value="">Please Select</option>
                    </select>
                    <span asp-validation-for="Employee.EmployeeId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @*<label asp-for="Task.Name" class="col-sm-2 col-form-label"></label>*@
                <label name="TaskName"></label>
                <div class="col-sm-10">
                    <select asp-for="TaskId" asp-items="@(new SelectList(Model.WorkItemList,"TaskId", "Name"))" class="custom-select mr-sm-2">
                        <option value="">Please Select</option>
                    </select>
                    <span asp-validation-for="Task.TaskId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TotalNoOfHours" class="control-label"></label>
                <input asp-for="TotalNoOfHours" class="form-control" />
                <span asp-validation-for="TotalNoOfHours" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-md-6">
            <div class="form-group">
                <label asp-for="CurrentDate" class="control-label"></label>
                <input asp-for="CurrentDate" class="form-control" />
                <span asp-validation-for="CurrentDate" class="text-danger"></span>
            </div>
        </div>*@
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
        </div>

    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
